<%= render 'form' %>

<div class="row">
  <div id="shortened-link"></div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
    <h2>most popular sites</h2>
    <ol>
      <% @sites.each do |site| %>
        <li>
          <p class="link"><%= link_to site.original_url, "#{request.base_url}/#{site.short_url_code}", target: "_blank" %>
          ♦ short url: <%= link_to "#{request.base_url}/#{site.short_url_code}", "#{request.base_url}/#{site.short_url_code}", target: "_blank" %> ♦ visits: <%= site.visits %> </p>
        </li>
      <% end %>
    </ol>
  </div>
</div>