<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center">
    <p>your short url is:</p>
    <h3> <%= link_to "#{request.base_url}/#{@site.short_url_code}", "#{request.base_url}/#{@site.short_url_code}" %></h3>
  </div>
</div>
